.Card{
    width: 20rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cardImg{
    width: 20rem;
}

.footer{
    display: flex;
    justify-content: space-between;
}

button{
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
