.modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(69, 67, 67, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent{
    background-color: white;
    width: 500px;
}

.characterContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 94vh;
    overflow: scroll;
}